/* Estilos gerais */
body {
  font-family: 'Press Start 2P', cursive;
  background-color: #002c44; /* Azul escuro */
  color: #ccff00; /* Verde limão */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: contain; /* Ajusta a imagem para ser visível */
    background-position: left center;
  }
  
}

#game-container {
  text-align: center;
  background-color: #1e0033; /* Roxo profundo */
  border: 4px solid #ccff00; /* Verde limão */
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 15px #ccff00;
}

h1, h2 {
  color: #ccff00; /* Verde limão */
  text-shadow: 2px 2px 4px #002c44; /* Sombra azul escura */
}

#question-container {
  margin: 20px 0;
  background-color: #003e66; /* Azul médio */
  border: 2px solid #ccff00;
  border-radius: 8px;
  padding: 10px;
}

button {
  font-family: 'Press Start 2P', cursive;
  background-color: #ccff00; /* Verde limão */
  color: #1e0033; /* Roxo profundo */
  border: 2px solid #002c44; /* Azul escuro */
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #003e66; /* Azul médio */
  color: #ccff00; /* Verde limão */
}

#inventory {
  margin-top: 20px;
  background-color: #1e0033; /* Roxo profundo */
  border: 2px solid #ccff00;
  border-radius: 8px;
  padding: 10px;
}

#inventory-list {
  list-style: none;
  padding: 0;
}

#inventory-list li {
  color: #ccff00; /* Verde limão */
  text-shadow: 1px 1px 2px #002c44; /* Sombra azul escura */
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    height: auto; /* Permitir que o layout cresça em altura */
    padding: 20px; /* Adicionar espaço ao redor do conteúdo */
  }

  #game-container {
    width: 100%; /* Usar toda a largura da tela */
    max-width: 100%; /* Remover restrição de largura máxima */
    padding: 10px; /* Reduzir o padding */
  }

  button {
    padding: 8px 16px; /* Reduzir tamanho dos botões */
    font-size: 12px; /* Diminuir o tamanho da fonte */
  }

  h1, h2 {
    font-size: 18px; /* Diminuir o tamanho das fontes dos títulos */
  }

  #question-container {
    padding: 5px; /* Reduzir padding interno */
  }

  #inventory {
    margin-top: 10px; /* Diminuir espaço entre seções */
    padding: 5px; /* Reduzir padding interno */
  }

  #inventory-list li {
    font-size: 14px; /* Ajustar o tamanho do texto */
  }
}

@media (max-width: 480px) {
  button {
    padding: 6px 12px; /* Ajustar ainda mais os botões */
    font-size: 10px; /* Diminuir o tamanho da fonte */
  }

  h1, h2 {
    font-size: 16px; /* Diminuir tamanho dos títulos */
  }

  #inventory-list li {
    font-size: 12px; /* Ajustar o tamanho do texto */
  }
}
